{% extends "base.html" %}

{% block title %}
	Projects
{% endblock %}
{% block content %}
	{% if posts %}
	{% for post in posts %}
		<h4><a href="{{ url_for('posts.detail', slug=post.slug) }}"> {{ post.title }}</a></h4>
		<p>{{ post.html_content| truncate(500) }}</p>
		<p>
			{{ post.timestamp.strftime('%H:%M %Y-%m-%d') }} |
			
		</p><br>
	{% endfor %}
  {% else %}
	<p><h3> Sorry!</h3></p>
	<p><h3>No Projects have been published yet<h3></p>
	
  {% endif %}
{% endblock %}
{%- block pager -%}
<ul class="pager">
	{% if page >1 %}
	<li><a href="{{ url_for('posts.page', page=page-1)}}">Previous</a></li>
	{% else %}
	<li><a>Previous</a></li>
	{% endif %}
	{% if page < max_page %}
	<li><a href="{{ url_for('posts.page', page=page+1) }}">Next</a></li>
	{% else %}
	<li><a>Next</a></li>
	{% endif %}
</ul>
{%- endblock -%}
